{
  "VERSION_NAME": "1.0.2",
  "VERSION_CODE": "8",
  "APP_NAME": "Pixaware App",
  "ORG_NAME": "Pixaware Technologies",
  "WEB_URL": "https://pixaware.co/",
  "PKG_NAME": "co.pixaware.Pixaware",
  "BUNDLE_ID": "co.pixaware.Pixaware",
  "EMAIL_ID": "support@pixaware.co",
  "PUSH_NOTIFY": "true",

  "IS_DEEPLINK": "true",
  "IS_SPLASH": "true",
  "IS_PULLDOWN": "true",
  "IS_BOTTOMMENU": "true",
  "IS_LOAD_IND": "true",

  "IS_CAMERA": "false",
  "IS_LOCATION": "false",
  "IS_MIC": "false",
  "IS_NOTIFICATION": "true",
  "IS_CONTACT": "false",
  "IS_BIOMETRIC": "false",
  "IS_CALENDAR": "false",
  "IS_STORAGE": "true",

  "LOGO_URL": "https://example.com/logo.png",
  "SPLASH": "https://example.com/splash.png",
  "SPLASH_BG": "",
  "SPLASH_BG_COLOR": "#cfc3ba",
  "SPLASH_TAGLINE": "Welcome to Pixaware",
  "SPLASH_TAGLINE_COLOR": "#E91E63",
  "SPLASH_ANIMATION": "rotate",
  "SPLASH_DURATION": "3",

  "BOTTOMMENU_ITEMS": "[{\"label\": \"Home\", \"icon\": \"home\", \"url\": \"https://pixaware.co/\"}, {\"label\": \"Services\", \"icon\": \"services\", \"url\": \"https://pixaware.co/solutions/\"}, {\"label\": \"About\", \"icon\": \"info\", \"url\": \"https://pixaware.co/who-we-are/\"}, {\"label\": \"Contact\", \"icon\": \"phone\", \"url\": \"https://pixaware.co/lets-talk/\"}]",
  "BOTTOMMENU_BG_COLOR": "#FFFFFF",
  "BOTTOMMENU_ICON_COLOR": "#888888",
  "BOTTOMMENU_TEXT_COLOR": "#000000",
  "BOTTOMMENU_FONT": "Roboto",
  "BOTTOMMENU_FONT_SIZE": "12",
  "BOTTOMMENU_FONT_BOLD": "true",
  "BOTTOMMENU_FONT_ITALIC": "false",
  "BOTTOMMENU_ACTIVE_TAB_COLOR": "#FF2D55",
  "BOTTOMMENU_ICON_POSITION": "above",
  "BOTTOMMENU_VISIBLE_ON": "home,settings,profile",

  "APPLE_TEAM_ID": "YOUR_TEAM_ID",
  "APNS_KEY_ID": "YOUR_KEY_ID",
  "APNS_AUTH_KEY_URL": "https://example.com/AuthKey.p8",
  "CERT_URL": "https://example.com/certificate.p12",
  "CERT_PASSWORD": "YOUR_CERT_PASSWORD",
  "PROFILE_URL": "https://example.com/profile.mobileprovision",

  "KEY_STORE": "https://example.com/keystore.jks",
  "CM_KEYSTORE_PASSWORD": "YOUR_KEYSTORE_PASSWORD",

  "firebase_config_android": "https://example.com/google-services.json",
  "firebase_config_ios": "https://example.com/GoogleService-Info.plist"
} 